@page
@model Rabota2.Pages.Administraciya.DetailsModel

@{
    ViewData["Title"] = "Детали сотрудника управления";
}

<h1>Детали сотрудника управления</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Имя</dt>
        <dd class="col-sm-9">@Model.Administraciya.Name</dd>
        
        <dt class="col-sm-3">Должность</dt>
        <dd class="col-sm-9">@Model.Administraciya.Dolzhnost</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Administraciya.Id" class="btn btn-warning">Изменить</a>
    <a asp-page="./Index" class="btn btn-secondary">Назад к списку</a>
</div>
