#wrapper {
    display: flex;
    height: 100vh;
}

#sectionA {
    width: 33%;
    background: #e74c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#sectionB {
    width: 33%;
    background: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#sectionC {
    width: 33%;
    background: #2ecc71;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
