body {
    background-image: url('../img/background-vertical.jpg');
    background-repeat: repeat-y;
    font-family: 'Times New Roman', serif;
    padding-left: 20px;
}

h1 {
    font-family: 'Courier', monospace;
    color: red;
}

h2 {
    text-decoration: underline;
}

.first-paragraph {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
}

a:hover {
    color: green;
    text-decoration: none;
}
