.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    line-height: 1.6;
}
