body {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#my-first-div {
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

#the-second-one {
    font-size: 24px;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

h2 {
    font-size: 0.8em;
}

h3 {
    font-size: 0.8rem;
}