body {
    background-color: blue; 
    margin: 0;
    padding: 20px;
    font-family: serif; 
}

.myDiv {
    width: 450px;
    margin: 0 auto;
    padding: 30px;
    background-color: #757575; 
    color: black;
    text-align: left; 
    line-height: 1.4;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 20px;
}

ol, ul {
    padding-left: 30px;
}

li {
    margin-bottom: 5px;
}